
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Misc OhSnap, FontAwesome, monospace;
    font-size: 14px; 
    margin-top: 1px;
    /* font-weight: bold; 
    text-shadow: 0px 1px #fff;*/
}


window#waybar {
    /* background-color: #e4e4de; */
    /* background-color: transparent; */
    /* border-top: 1px solid #111;   */
    /* border-left: 1px solid #111;  */
    /* border-bottom: none; */
    background-color: #fffacd;
	border: 2px solid #281733;
    color: #281733;
    /* border-radius: 0px; */
    /* box-shadow:  */
    /*     inset 2px 2px 0px 0px rgba(255, 255, 255, 0.2), */
    /*     inset -2px -2px 0px 0px rgba(0, 0, 0, 0.2), */
    /*     3px 3px 0px 0px rgba(0, 0, 0, 0.0); */
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: none;
    color: inherit
}

/* #battery, */
/* #cpu, */
/* #memory, */
/* #disk, */
/* #temperature, */
/* #backlight, */
/* #network, */
/* #pulseaudio, */
/* #wireplumber, */
/* #custom-media, */
/* #tray, */
/* #mode, */
/* #idle_inhibitor, */
/* #scratchpad, */
/* #mpd { */
    /* padding: 0; */
    /* color: #000000; */
/* } */

/* #window, */
/* #workspaces { */
/*     margin: 0 4px; */
/* } */

#taskbar {
margin-bottom: 4px;
}

#taskbar button {
	/* margin-right: 5px; */
	/* background-color: #FFFACD; */
	/* color: black;  */
	padding: 0 4px;
	color: #281733;
	font-size: 11px; 
	/* border: 1px solid black; */
}

/* #taskbar button.active { */
/* 	border-bottom: 2px solid black */
/* } */

#taskbar button.minimized {
color: #999
}

/* #taskbar button.active { */
/* color: black */
/* } */

/* If workspaces is the leftmost module, omit left margin */
.modules-left {
	margin-left: 12px;

}

.modules-right {
	margin-right: 14px;
	font-weight: bold;
}

/* #custom-wpNext { */
/* margin-left: 5px */
/* } */

/* #battery { */
/* rotate: 90; */
/* } */

/* #battery.charging, #battery.plugged { */
    /* color: #ffffff; */
    /* background-color: #26A65B; */
/* } */

@keyframes blink {
    to {
        /* background-color: #ffffff; */
        color: #281733;
    }
}

#battery.critical:not(.charging) {
    /* background-color: #f53c3c; */
    color: red;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #281733;
}

/* #cpu { */
/*     background-color: #2ecc71; */
/*     color: #000000; */
/* } */
/*  */
/* #memory { */
/*     background-color: #9b59b6; */
/* } */
/*  */
/* #disk { */
/*     background-color: #964B00; */
/* } */
/*  */
/* #backlight { */
/*     background-color: #90b1b1; */
/* } */

#clock {
    font-weight: bold;
    text-shadow: 0px 1px #fff;
}

/* #battery { */
/*  font-size: 14px;  */
/* } */
/*  */
/* #network { */
/*  font-size: 16px;  */
/* } */
/*  */
/* #pulseaudio { */
/* font-size: 18px; */
/*  } */

/* #pulseaudio.muted { */
/*     color: #2a5c45; */
/* } */

/* #wireplumber { */
/*     background-color: #fff0f5; */
/*     color: #000000; */
/* } */
/*  */
/* #wireplumber.muted { */
/*     background-color: #f53c3c; */
/* } */

/* #custom-openvpn {  */
/*    color: red; */
/* } */

/* #custom-media.custom-spotify { */
/*     background-color: #66cc99; */
/* } */
/*  */
/* #custom-media.custom-vlc { */
/*     background-color: #ffa000; */
/* } */

/* #temperature { */
/*     background-color: #f0932b; */
/* } */
/*  */
/* #temperature.critical { */
/*     background-color: #eb4d4b; */
/* } */

/* #tray { */
/*     background-color: #2980b9; */
/* } */
/*  */
/* #tray > .passive { */
/*     -gtk-icon-effect: dim; */
/* } */
/*  */
/* #tray > .needs-attention { */
/*     -gtk-icon-effect: highlight; */
/*     background-color: #eb4d4b; */
/* } */

/* #idle_inhibitor { */
    /* background-color: #2d3436; */
/* } */

 /* #idle_inhibitor.deactivated, #bluetooth.disabled,  */
 /* #bluetooth.off, #network.disconnected, #network.disabled {  */
 /*    color: #999; */
 /* }  */

/* #language { */
/*     background: #00b093; */
/*     color: #740864; */
/*     padding: 0 5px; */
/*     margin: 0 5px; */
/*     min-width: 16px; */
/* } */
/*  */
/* #keyboard-state { */
/*     background: #97e1ad; */
/*     color: #000000; */
/*     padding: 0 0px; */
/*     margin: 0 5px; */
/*     min-width: 16px; */
/* } */
/*  */
/* #keyboard-state > label { */
/*     padding: 0 5px; */
/* } */
/*  */
/* #keyboard-state > label.locked { */
/*     background: rgba(0, 0, 0, 0.2); */
/* } */
/*  */
/* #scratchpad { */
/*     background: rgba(0, 0, 0, 0.2); */
/* } */
/*  */
/* #scratchpad.empty { */
/* 	background-color: transparent; */
/* } */

tooltip {
    background-color: #281733;
	border: 1px solid black;
	border-radius: 0;
	padding: 0;
}

tooltip label{
	color: white;
	padding: 0 5px;
}
